.devArea {
}

.devArea .devArea__title,
.traineeArea .traineeArea__title {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #3b3b3b;
  margin-left: 20px;
  margin-right: 80%;
}
