@keyframes startCreator {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Bangers", cursive;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}

.box .box__top {
  align-self: flex-start;
  justify-self: flex-start;
  padding: 30px;
}

.logoArea {
}

.box .box__center {
  justify-self: flex-start;
  font-size: 18px;
  margin-left: 50px;
}

.box .box__bottom {
  align-self: flex-end;
}

.box .box__top .topTxt {
  margin-top: 8px;
  animation: startCreator 1s forwards;
}

.box .box__top .box__top__logo {
  margin-top: 40px;
  cursor: pointer;
  animation: startCreator 1.5s forwards;
}

@keyframes logoHover {
  33% {
    margin-left: 0px;
  }

  100% {
    margin-left: -30px;
  }
}

.box .box__top .box__top__logo:hover {
}
