.projects .projects__box {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);

  overflow: hidden;
  animation: txtCreator 2s forwards;
  border-radius: 8px;
}

.projects__box2 {
  animation: txtCreator 2s forwards;
  display: flex;
  flex-direction: column;
}

.projects .projects__box2 {
  animation: txtCreator 2s forwards;
  display: flex;
  flex-direction: column;

  height: 40vh;
  justify-content: flex-start;
  align-items: flex-start;
  width: 96%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  overflow: hidden;
  font-size: 18px;
  border-radius: 8px;
}

.box .box__img {
  opacity: 1;
  border-radius: 30px;
  padding: 20px;
}

.projects__box .box__title {
  font-size: 20px;
  margin-left: 20px;
  font-family: "Prompt", sans-serif;
  text-shadow: 2px 2px 6px rgba(1, 1, 1);
}

.projects__box .box__title2 {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 30px;
  width: 90%;
  line-height: 170%;
  font-family: "Prompt", sans-serif;
}

.projects__box2 .box__content {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 6px rgba(1, 1, 1);
}

.projects__box2 .box__content:first-child {
  margin-top: 30px;
}

.box .box__img {
}

@keyframes mouseHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.project-nav .project-nav__arrow {
  padding: 10px;
}

.project-nav .project-nav__arrow:hover {
  animation: mouseHover 1s forwards;
}
