@keyframes creator {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.inputBox {
  margin: 40px;
  animation: creator 1s forwards;
}

.inputBox .inputBox__input {
}

@keyframes moving {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(3px);
  }
}

.inputBox__input-text {
  border-width: 1px;
  padding: 0px 20px;
  width: 80%;
  height: 45px;
  outline: none;
  font-size: 14px;
  font-family: "Prompt", sans-serif;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
}

.inputBox__input-text:focus {
  animation: moving 1.5s infinite;
}

.inputBox__input-text:focus::-webkit-input-placeholder {
  color: #fff;
}
