@keyframes txtCreator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.txtBox {
  margin-bottom: 20px;
  margin-right: 55px;
  animation: txtCreator 2s forwards;
}

.txtBox .txtBox__title {
  border-bottom: 2px solid rgba(255, 222, 60, 0.4);
  margin-bottom: 5px;
  font-family: "Prompt", sans-serif;
  cursor: pointer;
}

.txtBox .txtBox__content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: "Prompt", sans-serif;
  font-size: 13px;
  color: #fff;
  line-height: 160%;
  text-shadow: 2px 2px 6px rgba(1, 1, 1);
  animation: txtAnimation 1s forwards;
}

@keyframes txtAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
